<section class="submit-success mt-5">
    <div class="px-4 py-5 my-5 text-center">
        <i class="fa-solid fa-thumbs-up"></i>
        <h1 class="display-5 fw-bold">Signup successful</h1>
        <div class="col-lg-6 mx-auto">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/login"><button type="button" class="primary-btn">Login</button></a>
            </div>
        </div>
    </div>
</section>