<style>

</style>


<section class="d-flex justify-content-center align-items-center signup-sec">
  <div class="w-100">
    <div class="signup-container">
      <h2 class="text-center mb-4">Sign-Up</h2>
      <form id="signupForm" action="/signup" method="post">


        <div>
          <div class="error-div">
            <label class="error" for="name" style="display: none;"></label>
          </div>
          <input type="text" class="form-control rounded-3" id="name" name="name" placeholder="Enter your name">
        </div>

        <div>
          <div class="error-div">
            <label class="error" for="email" style="display: none;"></label>
          </div>
          <input type="email" class="form-control rounded-3" name="email" id="email" placeholder="Enter your email">
        </div>

        <div>
          <div class="error-div">
            <label class="error" for="mobile" style="display: none;"></label>
          </div>
          <input type="text" class="form-control rounded-3" name="mobile" id="mobile"
            placeholder="Enter your Mobile number">
        </div>

        <div>
          <div class="error-div">
            <label class="error" for="password" style="display: none;"></label>
          </div>
          <input type="password" class="form-control rounded-3" name="password" id="password" placeholder="Password">
        </div>

        <div class="mb-3">
          <div class="error-div">
            <label class="error" for="confirmPassword" style="display: none;"></label>
          </div>
          <input type="password" class="form-control rounded-3" name="confirmPassword" id="confirmPassword"
            placeholder="Corfirm Password">
        </div>

        <p class="error p-0 m-0" for="name" style="display: none;font-size: 16px;" id="signupError"></p>
        <button type="submit" class="form-btn w-100 py-2">Send OTP</button>

        <div class="or-line">
          <span>or</span>
        </div>

        <button type="button" onclick="window.location.href='/google-auth'" class="form-btn py-2 w-100"><i
            class="fa-brands fa-google"></i> Signin with
          Google</button>

      </form>

      <div class="mt-2 text-center">
        <p>Already have an account ? <a class="normal-link" style="color: rgb(1, 59, 197);" href="/login">Log in</a></p>
      </div>

    </div>
  </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

<script>
  $(document).ready(function () {

    $("#signupForm").validate({

      onfocusout: function (element) {
        this.element(element); // Validate the element on blur
      },

      rules: {
        name: {
          required: true,
          minlength: 2
        },
        email: {
          required: true,
          email: true
        },
        mobile: {
          required: true,
          digits: true,
          minlength: 10,
        },
        password: {
          required: true,
          minlength: 8
        },
        confirmPassword: {
          required: true,
          equalTo: "#password"
        }
      },
      messages: {
        name: {
          required: "Please Enter your name",
          minlength: 'please enter valid name'
        },
        email: {
          required: "Please Enter your email"
        },
        mobile: {
          required: "Please enter your mobile no.",
          digits: "Please enter a valid mobile number",
          minlength: "Please enter a valid mobile number",
        },
        password: {
          required: "Please Enter a password",
          minlength: "Password must be at least 8 characters long"
        },
        confirmPassword: {
          required: "Please confirm your password",
          equalTo: "Password does not match"
        }
      },

      submitHandler: function (form) {
        const email = $(form).find('input[name="email"]').val();
        $.ajax({
          url: '/signup', // URL to your signup route
          type: 'POST',
          data: $(form).serialize(),
          success: function (response) {
            if (response.error) {
              // Display the error message
              $('#signupError').text(response.error).show(); // Show the error dynamically
            } else {
              // Redirect or take action on successful signup
              window.location.href = `/verify-otp?email=${encodeURIComponent(email)}`;
            }
          }
        });
      }

    })

  })
</script>