<section>
    <div class="container-fluid m-0 p-0">
        <div class="row landing-left-sec">
            <div class="col-md-6">
                <div class="landing-left">
                    <h1 class="">Admin Panel</h1>
                    <p>This admin dashboard provides you with all the tools needed to effectively manage your platform. From user control to recipe submissions, everything you need is at your fingertips.</p>
                    <button class="primary-btn">Submit Recipe</button>
                    <button class="ms-2 primary-btn-outline">See all Recipes</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="landing-right"></div>
            </div>
        </div>
    </div>
</section>