<section class="admin-dashboard">
    <h2 class="section-title text-center mt-4">Dashboard</h2>

    <div class="container">
    
    <a href="/admin/view-all-cuisines"><button class="primary-btn mt-3">View all cuisines</button></a>

    </div>
</section>