<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand rh-logo ms-5" href="/admin/admin-home">Recipe Haven</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/admin-home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">All Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/view-your-recipes">Your Recipes</a>
                    </li>

                    <div class="dropdown ms-5 my-auto">
                        <button class="dropdown-toggle header-btn" type="button" id="dropdownMenuButton2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Admin <i class="fas fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu my-2 custom-dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item fs-5 p-0 fw-3" href="/logout">Logout</a></li>
                        </ul>
                    </div>
                    
                </ul>
                <form class="d-flex me-5" role="search">
                    <input class="form-control rounded-5 searchbox" type="search" placeholder="Search" aria-label="Search">
                    <button class=" rounded-5 header-btn" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>