<header class="fixed-top bg-white">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand rh-logo ms-lg-3" href="/">Recipe Haven</a>

            <div class="user-dropdown mx-lg-2 me-auto">
                <div class="dropdown my-auto custom-dropdown">
                    <button class="header-btn dropdown-toggle-btn px-4" type="button" id="dropdownMenuButton2">
                        {{#if user}}
                        {{firstName}}
                        {{else}}
                        Account
                        {{/if}}
                        &nbsp;<i class="fas fa-chevron-down"></i>
                    </button>
                    <ul class="custom-dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        {{#if user}}
                        <li><a class="custom-dropdown-item" href="/logout">Logout</a></li>
                        <li><a class="custom-dropdown-item" href="/view-profile/{{user._id}}">Profile</a></li>
                        {{#unless userIsPro}}
                        <li><a class="custom-dropdown-item bg-dark-subtle" href="/view-pricing">Become a member</a></li>
                        {{/unless}}
                        {{else}}
                        <li><a class="custom-dropdown-item" href="/login">Login</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>

            <label class="burger navbar-toggler border-0" for="burger" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <input type="checkbox" id="burger">
                <span></span>
                <span></span>
                <span></span>
            </label>



            <!-- Navbar content -->
            <div class="collapse navbar-collapse text-end" id="navbarSupportedContent">
                <!-- Left side links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view-all-recipes">All Recipes</a>
                    </li>
                    {{#if userIsPro}}
                    <li class="nav-item">
                        <a class="nav-link" href="/view-your-recipes">Your Recipes</a>
                    </li>
                    {{/if}}
                </ul>

                <!-- Search box for small screens -->
                <form class="d-flex align-items-center me-md-2" role="search" action="/search-results" method="get">
                    <input name="keyword" class="form-control rounded-5 searchbox me-2" type="search"
                        placeholder="Search" aria-label="Search" required>
                    <button class="rounded-5 header-btn" type="submit">Search</button>
                </form>

            </div>
        </div>
    </nav>
</header>