<section class="py-3 py-md-5 min-vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h2 class="d-flex justify-content-center align-items-center gap-2 mb-4 display-1 fw-bold">
            500
          </h2>
          <h3 class="h2 mb-2">Internal server error.</h3>
          <p class="mb-3">Try again</p>
          <button class="btn bsb-btn-5xl btn-dark rounded-pill px-4 py-2 fs-6 m-0" onclick="goBack()">Back</button>
        </div>
      </div>
    </div>
  </div>
</section>
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>