<section class="submit-success">
    <div class="px-4 py-5 my-5 text-center">
        <h3 class="fw mb-4">Payment verified</h3>
        <i class="fa-regular fa-face-smile mb-4"></i>
        <h1 class="display-5 fw-bold">Congratulations</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">You are now a member of <span class="fw-semibold">Recipe Haven</span></p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/submit-recipe"><button type="button" class="primary-btn position-relative">Submit Recipe
                        <span
                            class="position-absolute top-0 start-0 translate-middle p-2 bg-warning border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </button></a>
                <a href="/"><button type="button" class="primary-btn-outline">Home</button></a>
            </div>
        </div>
    </div>
</section>