<section class="submit-success">
    <div class="px-4 py-5 my-5 text-center">
        <i class="fa-regular fa-face-frown mb-4"></i>
        <h1 class="display-5 fw-bold">Payment verification failed</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Please contact support. <br> <a class="normal-link"
                    href="mailto:munavermunu80@gmail.com"><label class="fa-regular fa-envelope"></label> Send mail </a>
                    <p>Mob: +91 1234567890</p>
            </p>
        </div>
    </div>
</section>