<section class="submit-success">
    <div class="px-4 py-5 my-5 text-center">
        <i class="fa-solid fa-check mb-4"></i>
        <h1 class="display-5 fw-bold">Recipe submitted
            successfully</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Your recipe will be published after review.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/view-your-recipes"><button type="button" class="primary-btn">View your Recipes</button></a>
                <a href="/submit-recipe"><button type="button" class="primary-btn">Submit another</button></a>
                <a href="/"><button type="button" class="primary-btn-outline">Home</button></a>
            </div>
        </div>
    </div>
</section>