<style>
    
</style>

<section>
    <div class="container-fluid py-5">

        <div class="row">
            <div class="px-5">
                <h2 class="section-title text-center mb-3">Pricing</h2>
                <p class="text-center mx-lg-5 section-description">Join our community of passionate cooks and food lovers by
                    subscribing to our Pro
                    plan. This exclusive membership allows you to submit your own unique recipes and share your culinary
                    creations with the world.</p>
            </div>
        </div>

        <div class="row my-3 text-center justify-content-center">

            <div class="col-xl-3 col-lg-5 col-md-6">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Free</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Access to all recipes</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-5 col-md-6">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">
                    <div class="card-header py-3 text-white bg-dark border-dark">
                        <h4 class="my-0 fw-normal">Pro</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$1.19<small class="text-muted fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Create your own recipes</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg primary-btn">Upgrade to pro</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<footer>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center credit"><a href="/"><i class="fa-solid fa-copyright"></i> Recipe Haven</a></h5>
            </div>
        </div>
    </div>
</footer>