:root {
  --primary-dark: #333333;
}

html, body {
  overflow-x: hidden;
}

.normal-link{
  color: var(--primary-dark);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.normal-link:hover{
  text-decoration: underline;
}

.rh-logo {
  color: black;
  font-weight: 800;
  font-style: italic;
  letter-spacing: -1px;
}

.primary-btn{
  background-color: var(--primary-dark);
  color: #F5F5F5;
  border: none;
  padding: 8px 15px;
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 10px;
  transition: ease-in-out 100ms;
}

.primary-btn-outline{
  color: var(--primary-dark);
  background-color: #ffffff;
  border: 1px solid var(--primary-dark);
  padding: 8px 15px;
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 10px;
  transition: ease-in-out 100ms;
}
.primary-btn-outline:hover{
  background-color: #f5f5f5;
}

.form-btn {
  background-color: var(--primary-dark);
  color: #F5F5F5;
  border: none;
  /* padding: 8px; */
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 10px;
  transition: ease-in-out 100ms;
}

.form-btn:hover {
  color: var(--primary-dark);
  background-color: #F5F5F5;
  box-shadow: inset 0 0 0 1px var(--primary-dark);
}

button {
  transition: all ease-in-out 200ms;
}

button:hover {
  background-color: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}


/* header */
header {
  font-family: "Rubik", sans-serif;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .rh-logo {
  font-size: 30px;
}

.dropdown-toggle::after {
  display: none !important;
}

/* Dropdown Menu Styling */
.custom-dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 10px;
  list-style: none;
  left: 80%;
  transform: translateX(-50%);
}

/* Show dropdown on button click */
.custom-dropdown.open .custom-dropdown-menu {
  display: block;
}

/* Dropdown Item Styling */
.custom-dropdown-item {
  padding: 2px 10px; /* Padding for each item */
  color: #333; /* Text color */
  text-decoration: none; /* Remove underlines */
  font-size: 0.8; /* Text size */
  display: block; /* Block display for full-width */
}

/* Hover effects */
.custom-dropdown-item:hover {
  background-color: #f1f1f1; /* Light gray background on hover */
}

/* Mobile responsive styling */
@media (max-width: 768px) {
  .custom-dropdown-toggle {
      width: 100%;
  }

  .custom-dropdown-menu {
      min-width: 100%;
  }
}

/* header */


/* Sign in page */
.signup-container {
  max-width: 380px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
}

.signup-container h2 {
  font-weight: 500;
  font-size: 30px;
}

.or-line {
  display: flex;
  align-items: center;
  text-align: center;
}

.or-line::before,
.or-line::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--primary-dark);
  margin: 0 7px;
  /* Space between the line and "or" */
}

.signup-container span {
  font-size: 18px;
  font-weight: 400;
  background: white;
  /* Match the background to the container */
  position: relative;
  z-index: 1;
  /* Ensure text is above the lines */
  padding: 0 7px;
  /* Space around the text */
}

.signup-sec {
  height: 100vh;
}

input.form-control {
  background-color: #F5F5F5;
  border: 1px solid var(--primary-dark);
}

/* Optional: Change input box color on focus */
input.form-control:focus {
  background-color: white;
  /* Change color on focus */
  border-color: var(--primary-dark);
  /* Change border color on focus */
  box-shadow: 0 0 5px rgba(68, 68, 68, 0.5);
  /* Optional shadow */
}

.notification-icon {
  padding: 4px 7px;
  border-radius: 6px;
  background: #D9D9D9;
  color: black;
  font-size: 16px;
}

.header-btn {
  background-color: var(--primary-dark);
  color: #F5F5F5;
  border: none;
  padding: 2px 14px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 25px;
}

header .dropdown button {
  font-weight: 400;

}

header .dropdown ul {
  text-align: center;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 0 10px rgba(68, 68, 68, 0.2);
}

.searchbox {
  width: 17.5rem !important;
  height: 2rem;
}


/* Sign in page */


/* home landing section */
.landing-left-sec {
  height: 90vh;
}

.landing-left h1{
  font-weight: 500;
  font-size: 48px;
}

.landing-left {
  margin-top: 15rem;
  margin-left: 5rem;
  font-family: "Rubik", sans-serif;
}

.landing-right {
  margin: 0;
  padding: 0;
  background-image: url('https://img.freepik.com/free-photo/closeup-man-preparing-breakfast-his-girlfriend-n-kitchen_637285-12567.jpg?t=st=1726745771~exp=1726749371~hmac=b201ea883819f166770a8056706e63b0eb34af15899312d880b54c76c559d135&w=1060');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
/* home landing section */