:root {
  --primary-dark: #333333;
  --section-bg-grey: #F7F7F7;
}

html,
body {
  overflow-x: hidden;
}


/* ============ COMMON STYLING ========== */

.normal-link {
  color: var(--primary-dark);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.normal-link:hover {
  text-decoration: underline;
}

.rh-logo {
  color: black;
  font-weight: 800;
  font-style: italic;
  letter-spacing: -1px;
}

.primary-btn {
  background-color: var(--primary-dark);
  color: #F5F5F5;
  border: none;
  padding: 8px 15px;
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 10px;
  transition: ease-in-out 100ms;
}

.primary-btn-outline {
  color: var(--primary-dark);
  background-color: #ffffff;
  border: 1px solid var(--primary-dark);
  padding: 8px 15px;
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 10px;
  transition: ease-in-out 100ms;
}

.primary-btn-outline:hover {
  background-color: #f5f5f5;
}

.form-btn {
  background-color: var(--primary-dark);
  color: #F5F5F5;
  border: none;
  /* padding: 8px; */
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 10px;
  transition: ease-in-out 100ms;
}

.form-btn:hover {
  color: var(--primary-dark);
  background-color: #F5F5F5;
  box-shadow: inset 0 0 0 1px var(--primary-dark);
}

button {
  transition: all ease-in-out 200ms;
}

button:hover {
  background-color: #000;
}

.back-button {
  border: none;
  background: none;
  transition: color ease-in-out 100ms;
}

.back-button:hover {
  background: none;
  color: #5a5a5a;
}

.section-title {
  font-size: 36px;
  font-weight: 500;
  color: #000;
}

.section-subtitle {
  font-size: 25px;
  font-weight: 500;
  color: #000;
}

/* recipe card styling */
.recipe-img {
  width: 280px;
  height: 210px;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}


.recipe-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.75s ease-out;
}

.recipe-img img:hover {
  scale: 1.05;
}

.recipe-card a {
  text-decoration: none;
  color: #000;
}

.recipe-card p {
  color: #000;
  font-size: 17px;
}

/* recipe card styling */

/* ============ COMMON STYLING ========== */

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}


/* header */
header {
  font-family: "Rubik", sans-serif;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .rh-logo {
  font-size: 30px;
}

.dropdown-toggle::after {
  display: none !important;
}

.custom-dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 10px;
  padding: 5px 0;
  margin-top: 10px;
  list-style: none;
  left: 80% !important;
  transform: translateX(-50%);
}

.custom-dropdown.open .custom-dropdown-menu {
  display: block;
}

.custom-dropdown-item {
  padding: 2px 10px;
  color: #000000;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
  display: block;
}

.custom-dropdown-item:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .custom-dropdown-toggle {
    width: 100%;
  }

  .custom-dropdown-menu {
    min-width: 100%;
  }
}

/* header */


/* Sign in page */
/* .signup-container {
  max-width: 380px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
}

.signup-container h2 {
  font-weight: 500;
  font-size: 30px;
}

.or-line {
  display: flex;
  align-items: center;
  text-align: center;
}

.or-line::before,
.or-line::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--primary-dark);
  margin: 0 7px;
}

.signup-container span {
  font-size: 18px;
  font-weight: 400;
  background: white;
  position: relative;
  z-index: 1;
  padding: 0 7px;
}

.signup-sec {
  height: 100vh;
}

input.form-control {
  background-color: #F5F5F5;
  border: 1px solid var(--primary-dark);
}

input.form-control:focus {
  background-color: white;
  border-color: var(--primary-dark);
  box-shadow: 0 0 5px rgba(68, 68, 68, 0.5);
}

textarea.form-control {
  background-color: #F5F5F5;
  border: 1px solid var(--primary-dark);
}

textarea.form-control:focus {
  background-color: white;
  border-color: var(--primary-dark);
  box-shadow: 0 0 5px rgba(68, 68, 68, 0.5);
}

select.form-control {
  background-color: #F5F5F5;
  border: 1px solid var(--primary-dark);
}

select.form-control:focus {
  background-color: white;
  border-color: var(--primary-dark);
  box-shadow: 0 0 5px rgba(68, 68, 68, 0.5);
}

select.form-control option {
  padding: 10px;
  background-color: #fff;
  color: #333;
}

.invalid-feedback{
  height: 21px;
} */

/* signup */

.notification-icon {
  padding: 4px 7px;
  border-radius: 6px;
  background: #D9D9D9;
  color: black;
  font-size: 16px;
}

.header-btn {
  background-color: var(--primary-dark);
  color: #F5F5F5;
  border: none;
  padding: 2px 14px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 25px;
}

header .dropdown button {
  font-weight: 400;

}

header .dropdown ul {
  text-align: center;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 0 10px rgba(68, 68, 68, 0.2);
}

.searchbox {
  width: 17.5rem !important;
  height: 2rem;
}


/* Sign in page */


/* home landing section */
.landing-left-sec {
  height: 90vh;
}

.landing-left h1 {
  font-weight: 500;
  font-size: 48px;
}

.landing-left {
  margin-top: 15rem;
  margin-left: 5rem;
  font-family: "Rubik", sans-serif;
}

.landing-right {
  margin: 0;
  padding: 0;
  background-image: url('/images/banner1.jpg');
  background-position: 0 -15rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* home landing section */


/* cuisine section */
.cuisine-sec {
  background-color: var(--section-bg-grey);
  width: 100%;
  height: 348px;
  padding-top: 1px;
}

.cuisine-selector {
  margin-top: 5rem;
}

.cuisine-selector a {
  text-decoration: none;
  color: #000;
}

.cuisine-img-1,
.cuisine-img-2,
.cuisine-img-3,
.cuisine-img-4,
.cuisine-img-5,
.cuisine-img-6 {
  width: 182px;
  height: 133px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;

  filter: grayscale(0);
  transition: scale 0.75s ease-out;

}

.cuisine-img-1:hover,
.cuisine-img-2:hover,
.cuisine-img-3:hover,
.cuisine-img-4:hover,
.cuisine-img-5:hover,
.cuisine-img-6:hover {
  scale: 1.05;
}



.cuisine-img-1 {
  background-image: url('/images/dosa.jpg');
}

.cuisine-img-2 {
  background-image: url('/images/pizza.jpeg');
}

.cuisine-img-3 {
  background-image: url('/images/thai.jpeg');
}

.cuisine-img-4 {
  background-image: url('/images/spaghetti.jpg');
}

.cuisine-img-5 {
  background-image: url('/images/chinese.webp');
}

.cuisine-img-6 {
  background-image: url('/images/cuisine-6.jpg');
}

/* cuisine section */


/* submit home banner */
.submit-recipe-banner {
  background-color: var(--section-bg-grey);
}

.submit-recipe-banner .row {
  display: flex;
}

.submit-recipe-img {
  width: 454px;
  height: 486px;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.submit-recipe-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* submit home banner */

/* footer */
/* footer {
  bottom: 0;
  left: 0;
  width: 100%;
} */

footer .credit a {
  text-decoration: none;
  color: var(--primary-dark);
  font-weight: 400;
}

footer .credit a:hover {
  text-decoration: underline;
}



/* submit recipe form */

.submit-recipe-container {
  max-width: 807px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
}

.submit-recipe-container h2 {
  font-weight: 500;
  font-size: 30px;
}

.or-line {
  display: flex;
  align-items: center;
  text-align: center;
}

.or-line::before,
.or-line::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--primary-dark);
  margin: 0 7px;
  /* Space between the line and "or" */
}

.submit-recipe-container span {
  font-size: 18px;
  font-weight: 400;
  background: white;
  position: relative;
  z-index: 1;
  padding: 0 7px;
}


/* submit recipe form */


/* submit success */
.submit-success i {
  font-size: 7rem;
}

/* submit success */


/* user-view-your-recipes-sec */
.recipe-publised {
  background-color: #EDF7F0;
  width: 100%;
}

.recipe-pending {
  background-color: #fff;
  width: 100%;
}

.recipe-rejected {
  background-color: #FCE8E8;
  width: 100%;
}

.user-view-your-recipes-sec .fa-xmark {
  font-size: 7rem;
}

/* user-view-your-recipes-sec */


/* recipe page */
.recipe-page .dish-img {
  max-width: 454px;
  height: auto;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.recipe-page .dish-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-page .user a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.recipe-page .user a i {
  color: #7d7d7d;
}

.recipe-page .cuisine a {
  text-decoration: none;
  color: #7d7d7d;
  font-size: 14px;
}

.recipe-page .ingredients li {
  margin-bottom: 8px;
}

/* recipe page */

/* edit recipe */
.edit-recipe-imgView {
  max-width: 25rem;
  max-height: auto;
  border-radius: 25px;
  overflow: hidden;
  /* margin: 0 auto; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.edit-recipe-imgView img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* edit recipe */


/* admin view users */
.users-table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.users-table th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #454545;
}

.users-table th {
  background-color: #373737;
  color: white;
}

.users-table tr:hover {
  background-color: #f1f1f1;
}

.users-table tr:last-child td {
  border-bottom: none;
}

/* admin view users */


/* admin user profile */
.user-profile-sec .fa-user{
  color: #989898;
  font-size: 5rem;
}
/* admin user profile */

.cuisine-table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cuisine-table th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #454545;
}

.cuisine-table th {
  background-color: #373737;
  color: white;
}

.cuisine-table tr:hover {
  background-color: #f1f1f1;
}

.cuisine-table tr:last-child td {
  border-bottom: none;
}


/* ======== */
.submit-cuisine-container {
  max-width: 807px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
}
/* ======== */


/* signup form */
.signup-container {
  max-width: 380px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
}

.signup-container h2 {
  font-weight: 500;
  font-size: 30px;
}

.signup-sec {
  height: 100vh;
}

input.form-control {
  background-color: #F5F5F5;
  border: 1px solid var(--primary-dark);
  font-size: 1rem;
  padding: 0.9rem;
}

input.form-control:focus {
  background-color: white;
  border-color: var(--primary-dark);
  box-shadow: 0 0 5px rgba(68, 68, 68, 0.5);
}

.error {
  color: red;
  display: block;
  font-size: 14px;
  /* margin: 1rem 0rem 1rem 0rem; */
}

.error-div {
  height: 21px;
}
/* signup form */