:root {
  --primary-dark: #333333;
  --section-bg-grey: #F7F7F7;
}

html,
body {
  overflow-x: hidden;
  padding-top: 4rem;
}


/* ============ COMMON STYLING ========== */

.normal-link {
  color: var(--primary-dark);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.normal-link:hover {
  text-decoration: underline;
}

.rh-logo {
  color: black;
  font-weight: 800;
  font-style: italic;
  letter-spacing: -1px;
}

.primary-btn {
  background-color: var(--primary-dark);
  color: #F5F5F5;
  border: none;
  padding: 8px 15px;
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 10px;
  transition: ease-in-out 100ms;
  cursor: pointer;
  position: relative;
  /* Important for the spinner positioning */
}

.primary-btn.button-loading {
  color: transparent;
  /* Hide the text during loading */
  pointer-events: none;
  /* Prevent more clicks */
}

.primary-btn.button-loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #F5F5F5;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.primary-btn-outline {
  color: var(--primary-dark);
  background-color: #ffffff;
  border: 1px solid var(--primary-dark);
  padding: 8px 15px;
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 10px;
  transition: ease-in-out 100ms;
}

.primary-btn-outline:hover {
  background-color: #f5f5f5;
}

.form-btn {
  background-color: var(--primary-dark);
  color: #F5F5F5;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 10px;
  transition: ease-in-out 100ms;
}

.form-btn:hover {
  color: var(--primary-dark);
  background-color: #F5F5F5;
  box-shadow: inset 0 0 0 1px var(--primary-dark);
}

button {
  transition: all ease-in-out 200ms;
}

button:hover {
  background-color: #000;
}

.back-button {
  border: none;
  background: none;
  transition: color ease-in-out 100ms;
}

.back-button:hover {
  background: none;
  color: #5a5a5a;
}

.head-sec {
  background: var(--section-bg-grey);
  padding: 1rem 0rem;
  text-align: center;
}

.section-title {
  font-size: 36px;
  font-weight: 500;
  color: #000;
}


.section-subtitle {
  font-size: 25px;
  font-weight: 400;
  color: #000;
}

@media (max-width: 576px) {
  .section-title {
    font-size: 27px;
  }

  .section-subtitle {
    font-size: 20px;
    text-align: center;
    margin-left: 0;
  }

}

/* recipe card styling */
.recipe-img {
  width: 280px;
  height: 210px;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  .recipe-img {
    max-width: 260px;
  }
}

@media (max-width: 575px) {
  .recipe-img {
    max-width: 280px;
  }
}

.recipe-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.75s ease-out;
}

.recipe-img img:hover {
  scale: 1.05;
}

.recipe-card a {
  text-decoration: none;
  color: #000;
}

.recipe-card p {
  color: #000;
  font-size: 17px;
}

/* recipe card styling */

.section-description {
  font-size: 1.2rem;
}

@media (max-width:576px) {
  .section-description {
    font-size: 0.8rem;
  }
}

/* ============ COMMON STYLING ========== */




body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}


/* header */
header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .rh-logo {
  font-size: 28px;
}

@media (max-width: 1200px) {
  header .rh-logo {
    font-size: 25px;
  }
}

.dropdown-toggle::after {
  display: none !important;
}

.custom-dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 140px;
  max-width: auto;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 10px;
  padding: 5px 0;
  margin-top: 10px;
  list-style: none;
  /* left: 80% !important; */
  /* transform: translateX(-50%); */
}

.custom-dropdown.open .custom-dropdown-menu {
  display: block;
}

.custom-dropdown-item {
  padding: 2px 10px;
  color: #000000;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
  display: block;
}

.custom-dropdown-item:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .custom-dropdown-toggle {
    width: 100%;
  }

  .custom-dropdown-menu {
    min-width: 100%;
  }

  .custom-dropdown-item {
    font-size: 15px;
    line-height: 20px;
  }
}

@media(max-width:576px) {
  header .rh-logo {
    font-size: 22px;
  }
}


.burger {
  position: relative;
  width: 30px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
  transform: rotate(-45deg);

  left: 5px;
}

/* header */


/* signin page ==================================== */

.notification-icon {
  padding: 4px 7px;
  border-radius: 6px;
  background: #D9D9D9;
  color: black;
  font-size: 16px;
}

.header-btn {
  background-color: var(--primary-dark);
  color: #F5F5F5;
  border: none;
  padding: 2px 14px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 25px;
  height: 2rem;
}

@media (max-width:1200px) {
  .header-btn {
    height: 1.68rem;
  }
}

@media (max-width:576px) {
  .header-btn {
    font-size: 15px;
  }
}

header .dropdown button {
  font-weight: 400;

}

header .dropdown ul {
  text-align: center;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 0 10px rgba(68, 68, 68, 0.2);
}

header .dropdown ul li {
  border-top: #aaaaaa 0.5px solid;
}

header .dropdown ul li:first-child {
  border: none !important;
}

.searchbox {
  width: 17.5rem !important;
  height: 2rem;
  background: #f5f5f5;
  border: 1px solid #333;
}

@media (max-width:1200px) {
  .searchbox {
    width: 14rem !important;
    height: 1.68rem;
  }
}


.signup-container {
  max-width: 380px;
  margin: auto;
  padding: 10px 25px;
  border-radius: 10px;
}

.signup-container h2 {
  font-weight: 500;
  font-size: 30px;
}

.signup-sec input.form-control {
  background-color: #F5F5F5;
  border: 1px solid var(--primary-dark);
  font-size: 1rem;
  padding: 0.9rem;
}

.signup-sec input.form-control:focus {
  background-color: white;
  border-color: var(--primary-dark);
  box-shadow: 0 0 5px rgba(68, 68, 68, 0.5);
}

.error {
  color: red;
  display: block;
  font-size: 14px;
  /* margin: 1rem 0rem 1rem 0rem; */
}

.error-div {
  height: 21px;
}

.or-line {
  display: flex;
  align-items: center;
  text-align: center;
}

.or-line::before,
.or-line::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--primary-dark);
  margin: 0 7px;
}


/* Sign in page ==================================*/


/* home landing section */
.landing-sec {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-left {
  margin: 0 2rem;
  font-family: "Rubik", sans-serif;
}

.landing-left h1 {
  font-weight: 500;
  font-size: 48px;
}

.landing-right {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  margin: 0 auto;
}

.landing-right img {
  width: 100%;
  max-width: 700px;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
}

@media (max-width: 992px) {
  .landing-right img {
    max-width: 100%;
  }

  .landing-right {
    height: 50vh;
  }

  .landing-left {
    text-align: center;
    padding: 5rem;
  }
}

@media (max-width: 768px) {

  .landing-left h1 {
    font-size: 36px;
  }

  .landing-left {
    text-align: center;
    padding: 3rem 0rem;
  }

}

/* Cuisine Section */
.cuisine-sec {
  background-color: var(--section-bg-grey);
  padding: 2rem 0;
}

.cuisine-selector {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cuisine-selector .col-xl-2,
.cuisine-selector .col-md-4,
.cuisine-selector .col-sm-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cuisine-selector a {
  text-decoration: none;
  color: #000;
}

.cuisine-img {
  width: 182px;
  height: 133px;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}

.cuisine-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.75s ease-out;
}

.cuisine-img img:hover {
  scale: 1.05;
}

@media (max-width: 768px) {
  .cuisine-selector {
    margin-top: 1rem;
  }

  .cuisine-img {
    width: 80px;
    height: 40px;
    border-radius: 10px;
  }
}

@media (max-width:576px) {
  .cuisine-img {
    width: 60px;
  }

  .cuisine-selector a {
    font-size: 10px;
  }
}


/* Centering the cards in the swiper-slide */
.swiper-button-prev,
.swiper-button-next {
  color: #000;
  /* Color of the arrows */
  background: rgba(255, 255, 255, 1);
  /* Add a semi-transparent background */
  border-radius: 50%;
  /* Make it circular */
  padding: 18px;
  /* Add padding around the arrow */
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
  /* Optional: add shadow */
}

.swiper-button-prev {
  left: 0px !important;
  /* Adjust position from the left */
}

.swiper-button-next {
  right: 0px !important;
  /* Adjust position from the right */
}

.swiper-container {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  /* Vertically center the arrows */
  transform: translateY(-50%);
  width: 35px !important;
  height: 35px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.2rem !important;
  font-weight: bolder;
  color: #000;
  /* Increase the size of the arrow icons */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  /* Horizontally center the card */
  align-items: center;
  /* Vertically center the card */
  flex-direction: column;
  /* Make sure the content inside is aligned column-wise */
  text-align: center;
  /* Center the text and images within the card */
}



.swiper-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.mt-2 {
  margin-top: 10px;
  text-align: center;
}


@media(max-width:576px) {

  .swiper-button-prev,
  .swiper-button-next {
    padding: 10px;
    width: 25px !important;
    height: 25px !important;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 0.8rem !important;
  }
}


/* submit home banner */
.submit-recipe-banner {
  background-color: var(--section-bg-grey);
}

.submit-recipe-banner .row {
  display: flex;
  flex-wrap: wrap;
}

.submit-recipe-img {
  width: 100%;
  max-width: 454px;
  height: 486px;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.submit-recipe-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.submit-sec-text {
  text-align: left;
  padding: 20px;
}

@media (min-width:992px) {
  .submit-sec-text {
    margin-top: 9rem;
  }
}

@media (max-width:992px) {
  .submit-recipe-img {
    max-width: 100%;
    height: 400px;
    border-radius: 0;
  }

  .submit-sec-text {
    text-align: center;
  }

  .submit-sec-text h1 {
    font-size: 2rem;
  }
}

@media (max-width:992px) {
  .submit-recipe-img {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .submit-recipe-banner .row {
    flex-direction: column;
    align-items: center;
  }

  .submit-recipe-img {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .submit-sec-text h1,
  a,
  p {
    text-align: center;
  }
}

/* submit home banner */

/* footer */
/* footer {
  bottom: 0;
  left: 0;
  width: 100%;
} */

footer .credit a {
  text-decoration: none;
  color: var(--primary-dark);
  font-weight: 400;
}

footer .credit a:hover {
  text-decoration: underline;
}

@media (max-width:576px) {
  footer .credit a {
    font-size: 0.9rem;
  }
}



/* submit recipe form */

.submit-recipe-container {
  max-width: 807px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
}

.submit-recipe-container span {
  font-size: 18px;
  font-weight: 400;
  background: white;
  position: relative;
  z-index: 1;
  padding: 0 7px;
}


.submit-recipe-sec input.form-control {
  background-color: #F5F5F5;
  border: 1px solid var(--primary-dark);
}

.submit-recipe-sec input.form-control:focus {
  background-color: white;
  border-color: var(--primary-dark);
  box-shadow: 0 0 5px rgba(68, 68, 68, 0.5);
}

/* submit recipe form */


/* submit success */
.submit-success i {
  font-size: 7rem;
}

@media(max-width:576px) {
  .submit-success i {
    font-size: 5rem;
  }
}

/* submit success */


/* user-view-your-recipes-sec */
.recipe-publised {
  background-color: #EDF7F0;
  width: 100%;
}

.recipe-pending {
  background-color: #fff;
  width: 100%;
}

.recipe-rejected {
  background-color: #FCE8E8;
  width: 100%;
}

.user-view-your-recipes-sec .fa-xmark {
  font-size: 7rem;
}

/* user-view-your-recipes-sec */


/* ================================= recipe page */

.recipe-page #bookmarkRecipe {
  border: none;
  background: none;
  font-size: 1.25rem;
  margin-top: 10;
}

#bookmarkRecipe i {
  transition: color 0.5s ease, transform 0.5s ease;
}

#bookmarkRecipe i.fa-solid {
  color: #333;
  transform: scale(1.2);
}

#bookmarkRecipe i.fa-regular {
  color: #333;
  transform: scale(1);
}

.recipe-page .dish-img {
  max-width: 454px;
  height: auto;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.recipe-page .dish-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-page .user a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.recipe-page .user a i {
  color: #7d7d7d;
}

.recipe-page .cuisine a {
  text-decoration: none;
  color: #7d7d7d;
  font-size: 14px;
}

.recipe-page .ingredients li {
  margin-bottom: 8px;
}

/* respossive */
@media(max-width:768px) {
  .recipe-page .cook-instructions h3 {
    text-align: center;
  }
}

@media (max-width:576px) {

  .recipe-page .user,
  .recipe-page .cuisine {
    text-align: center;
  }

  .recipe-page .cook-instructions p {
    font-size: 0.9rem;
  }
}

/* respossive */

/* ================================= recipe page */

/* edit recipe */
.edit-recipe-imgView {
  max-width: 25rem;
  max-height: auto;
  border-radius: 25px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.edit-recipe-imgView img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* edit recipe */


/* admin view users */
.users-table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.users-table th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #454545;
}

.users-table th {
  background-color: #373737;
  color: white;
}

.users-table tr:hover {
  background-color: #f1f1f1;
}

.users-table tr:last-child td {
  border-bottom: none;
}

/* admin view users */


/* admin user profile */
.user-profile-sec .fa-circle-user {
  color: #989898;
  font-size: 5rem;
}

/* admin user profile */

.cuisine-table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cuisine-table th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #454545;
}

.cuisine-table th {
  background-color: #373737;
  color: white;
}

.cuisine-table tr:hover {
  background-color: #f1f1f1;
}

.cuisine-table tr:last-child td {
  border-bottom: none;
}


/* ======== */
.submit-cuisine-container {
  max-width: 807px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
}

/* ======== */


/* dashboard */
.dashboard-card {
  border: none !important;
}

.dashboard-card .main-icon {
  font-size: 3rem;
}

.dashboard-card h5 span {
  font-size: 2rem;
  font-weight: 900;
}

.dashboard-card a {
  text-decoration: none;
  color: #464646;
  transition: color 100ms ease-in;
}

.dashboard-card a:hover {
  color: #000000;
}

/* dashboard */


@media (max-width: 768px) {


  .primary-btn {
    /* padding: 0.4rem 0.49rem; */
    font-size: 13px;
  }

  .primary-btn-outline,
  .btn {
    /* padding: 0.375rem 0.3rem; */
    font-size: 13px;
  }

  .users-table td .d-flex {
    gap: 0.08rem;
  }
}

@media (max-width:567px) {

  .cuisine-table td,
  .cuisine-table th {
    font-size: 13px;
    padding: 0.5rem 0.2rem;
  }

  .cuisine-table td i {
    font-size: 11px;
  }

  .users-table td,
  .users-table th {
    font-size: 11px;
    padding: 0.5rem 0.2rem;
  }

}